services:
  - type: web
    name: rural-classroom-backend
    env: node
    root: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 10000
      - key: NODE_VERSION
        value: 20.11.0

  - type: static
    name: rural-classroom-frontend
    env: static
    buildCommand: npm install && npm run build
    publishDir: dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
